@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --blue: #0BD1FF;
    --cyan: #97EFFF;
    --gray: #7C7C7C;
    --white: #FFFFFF;
}

a{
    text-decoration: none;
    color: var(--white);
}

.nav {
    margin-top: -0.86vh;
    margin-left: -0.48vw;
    position: fixed;
    width: 100vw;
    height: 16.29vh;
    background: linear-gradient(180deg, #0BD1FF 0%, rgba(11, 209, 255, 0.5) 100%);
}
.nav ul{
    list-style-type: none;
    display: flex;
    z-index: 8.146vh;
    flex-wrap: nowrap;
    vertical-align: middle;
    justify-content: space-between;
}

#logo{
    float: left;
    vertical-align: middle;
    border-radius: 200%;
    height: 12.19vh;
    width: 7.62vw;
}